.lancamentos-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    padding: 0 16px; /* Adiciona um padding nas laterais para alinhamento */
    box-sizing: border-box; /* Garante que padding não expanda a largura total */
}

.top-row {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.receitas, .despesas {
    flex: 1;
    padding: 16px;
    border-radius: 8px;
    box-sizing: border-box;
}

.metas-futuras {
    background-color: #e3f2fd;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box; /* Garante que padding não expanda a largura total */
}

.receitas {
    background-color: #e8f5e9;
}

.despesas {
    background-color: #ffebee;
}

.calcular-saldo-btn {
    background-color: #1e3a8a; /* Azul escuro */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 16px;
    display: block;
    width: fit-content;
}

.calcular-saldo-btn:hover {
    background-color: #3b82f6; /* Azul mais claro no hover */
}

.saldo-total {
    margin-top: 16px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}