.lancamentos-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    padding: 0 16px; /* Adiciona um padding nas laterais para alinhamento */
    box-sizing: border-box; /* Garante que padding não expanda a largura total */
}

.top-row {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.receitas, .despesas {
    flex: 1;
    padding: 16px;
    border-radius: 8px;
    box-sizing: border-box;
}

.metas-futuras {
    background-color: #e3f2fd;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box; /* Garante que padding não expanda a largura total */
}

.receitas {
    background-color: #e8f5e9;
}

.despesas {
    background-color: #ffebee;
}

.calcular-saldo-btn {
    background-color: #1e3a8a; /* Azul escuro */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 16px;
    display: block;
    width: fit-content;
}

.calcular-saldo-btn:hover {
    background-color: #3b82f6; /* Azul mais claro no hover */
}

.saldo-total {
    margin-top: 16px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    gap: 16px;
}

.botao-container{
    display: flex;
    gap: 16px; /* Espaçamento entre os botões */
    margin-top: 16px;
}

.deletar-btn {
    background-color: #dc2626; /* Vermelho escuro */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.deletar-btn:hover {
    background-color: #ef4444; /* Vermelho mais claro no hover */
}

/* Garantir que o botão de deletar e outros estejam lado a lado */
.saldo-total-container button {
    display: inline-block;
}

.acoes {
    margin-top: 8px;
    display: flex;
    gap: 8px;
}

.editar-btn {
    background-color: #2563eb; /* Azul escuro */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.editar-btn:hover {
    background-color: #3b82f6; /* Azul mais claro no hover */
}

.deletar-btn {
    background-color: #dc2626; /* Vermelho escuro */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.deletar-btn:hover {
    background-color: #ef4444; /* Vermelho mais claro no hover */
}
